<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="memory_store" class="ru.job4j.persistent.MemoryStorage"/>

    <bean id="import" class="ru.job4j.ImportUser">
        <constructor-arg name="repository" ref="memory_store"/>
    </bean>


</beans>